@page "{id}"
@using Augment
@using Vyger.Common
@model Vyger.Web.Pages.CycleExercises.IndexModel
@{
  ViewData["Title"] = "Cycle Exercises";
}

<form method="post">
  <partial name="Weeks" model="@Model" />
  <partial name="Days" model="@Model" />

  <table class="table">
    <thead>
      <tr>
        <th>Exercise</th>
        <th>Workout</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var exercise in Model.Exercises)
      {
        <tr>
          <td>
            @exercise.DisplayName
          </td>
          <td>
            @exercise.WorkoutPattern
          </td>
        </tr>
      }
    </tbody>
    @if (Model.CanLogWorkout)
    {
      <tfoot>
        <tr>
          <td></td>
          <td>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text">Select a Date</label>
              </div>
              <select class="custom-select" asp-for="@Model.SelectedDate">
                <option value="@Model.SelectedDate.ToYMD()">@Model.SelectedDate.ToString("ddd MMM dd")</option>
                @foreach (var dt in Model.AvailableDates)
                {
                  <option value="@dt.ToYMD()">@dt.ToString("ddd MMM dd")</option>
                }
              </select>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary">
                  Log Workout
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    }
  </table>
</form>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
      <li class="breadcrumb-item">
        <a asp-page="/Cycles/Index">
          Cycles
        </a>
      </li>
      <li class="breadcrumb-item active">
        @Model.Cycle.Name
        <i class="fa fa-fw fa-filter text-muted"></i>
        <span>Week=</span>@Model.SelectedWeek
        <span>Day=</span>@Model.SelectedDay
      </li>
    </ol>
  </nav>
}

@section Scripts {
  <script type="text/javascript">
    $(function ()
    {
      $('div.alert').fadeOut(3000);
    });
  </script>
}