@{
  ViewBag.Title = "Workout Logs";
}

@model WorkoutLogDetailViewModel

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-10 d-none d-sm-block">
    @Html.Partial("_DetailsWide", Model)
  </div>
  <div class="col-sm-12 d-block d-sm-none">
    @Html.Partial("_DetailsNarrow", Model)
  </div>
</div>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
      <li class="breadcrumb-item"><a href="@Url.Action("Index")">Logs @DateTime.Now.ToString("MMM yyyy")</a></li>
      <li class="breadcrumb-item active">
        @Model.LogDate.ToString("dddd MMM d")
      </li>
    </ol>
  </nav>
}

@section Scripts {
  <script type="text/javascript">
    $(function ()
    {
      function resequence($tbody)
      {
        var ids = [];

        $tbody.find('tr').each(function (idx)
        {
          var $exId = $(this).find('input[name$=ExerciseId]');
          var $seq = $(this).find('input[name$=SequenceNumber]');

          $seq.val(idx + 1);

          ids.push($exId.val());
        });
      }

      $('.table-sortable.view-wide').sortable({
        handle: '.drag-handler',
        containerSelector: 'table',
        itemPath: '> tbody',
        itemSelector: 'tr',
        placeholder: '<tr class="placeholder"/>',
        delay: 250,
        onDrop: function ($item, container, _super)
        {
          var $tbody = $item.closest('tbody');

          resequence($tbody);

          _super($item, container);
        }
      });

      $('.table-sortable .delete-log').click(function ()
      {
        $(this).closest('tr').fadeOut(500, function () { $(this).remove(); });
      });
    });
  </script>
}