@page "{id}"
@using Augment
@model Vyger.Web.Pages.RoutineExercises.IndexModel
@{
  ViewData["Title"] = "Routine Exercises";
}

<partial name="Weeks" model="@Model" />
<partial name="Days" model="@Model" />

<form method="post">
  <table class="table dnd-table">
    <thead>
      <tr>
        <th></th>
        <th>Exercise</th>
        <th style="width: 600px">Workout</th>
        <th class="pr-1 create-col">
          <a class="btn btn-outline-success float-right"
             asp-page="/Routines/Exercises/Create"
             asp-route-id="@Model.Routine.Id">
            Add
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var exercise in Model.Exercises)
      {
        <tr id="@(exercise.Id)">
          <td class="drag-handler"></td>
          <td>
            <a class="pointer float-right"
               asp-page="/Routines/Exercises/Delete"
               asp-route-id="@Model.Routine.Id"
               asp-route-day="@Model.SelectedDay"
               asp-route-exercise="@exercise.Id">
              <span class="fa fa-fw fa-times text-danger"></span>
            </a>
            <input type="hidden" name="Exercises.Index" value="@exercise.Id" />
            <input type="hidden" name="Exercises[@exercise.Id].Id" value="@exercise.Id" />
            <a asp-page="/Routines/Exercises/Update"
               asp-route-id="@Model.Routine.Id"
               asp-route-day="@Model.SelectedDay"
               asp-route-exercise="@exercise.Id">
              @exercise.DisplayName
            </a>
          </td>
          <td colspan="2" class="p-1">
            <input class="form-control workout-sets" name="Exercises[@exercise.Id].WorkoutPattern" value="@exercise.WorkoutPattern" />
          </td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="text-right">
          <a class="btn btn-outline-secondary float-left"
             asp-page="/Routines/Index">
            Cancel
          </a>
          <button class="btn btn-primary">Save</button>
        </td>
      </tr>
    </tfoot>
  </table>
</form>

@section Breadcrumbs{
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
      <li class="breadcrumb-item">
        <a asp-page="/Routines/Update" asp-route-id="@Model.Routine.Id">
          @Model.Routine.Name
        </a>
      </li>
      <li class="breadcrumb-item active">
        Exercises
        <i class="fa fa-fw fa-filter text-muted"></i>
        <span>Week=</span>@Model.SelectedWeek
        <span>Day=</span>@Model.SelectedDay
      </li>
    </ol>
  </nav>
}
@section Scripts {
  <script src="//cdnjs.cloudflare.com/ajax/libs/TableDnD/1.0.3/jquery.tablednd.min.js"></script>
  <script type="text/javascript">
    $(function ()
    {
      var options = {
        dragHandle: '.drag-handler',
        onDragClass: 'drag-class'
      };

      $('table.dnd-table').tableDnD(options);

      $('div.alert').fadeOut(3000);
    });
  </script>
}